.form {
  text-align: center;
  display: flex;
  justify-content: center;
}
.formDiv {
    /*width: 20rem;*/
    height:2rem;
}
.form input {
    width:15rem;
  font: inherit;
  font-size: 130%;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
}
.form button {
    width: 5rem;
  font: inherit;
  font-size: 130%;
  background-color: lightskyblue;
  border-color: transparent;
  color: black;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 10px;
  text-align: center;
}

.button:hover {
  background-color: rgb(105, 191, 245);
  transition: all 0.3s linear;
}
